<div class="tab-pane fade in active" id="tab1">
    <!--<div class="container" style="margin-top:50px;">-->
    <!-- <div ng-repeat="item in itemsCtrl.items"> -->
        <!-- <div class="clearfix row" ng-if="$index % 4 == 0"></div> -->
        <!-- <div class="row" ng-if="$index%4 == 0"> -->

            <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat-start="item in itemsCtrl.items">
                <div class="col-item">
                    <div class="post-img-content">
                        <img ng-src="{{item.photo}}" class="img-responsive" />
                        <span class="round-tag">
                            <center>
                                {{item.wantedBy.length === null ? 0 : item.wantedBy.length}}
                            </center>
                        </span>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="priceleft col-md-6">
                                <h5> {{item.title}} </h5>
                                
                            </div>
                            <div class="priceright col-md-6">
                                <a class="price-text-color" href="/user/{{item.giver_id._id}}">{{item.giver_id.username}}</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="rating hidden-sm col-md-12">
                            <h5 class="price-text-color">{{item.description}}</h5>
                            </div>
                        </div>
                        <div class="separator clear-left">
                            <div class="btn-add">
                                <form action="{{item.dowant}}" method="post" class="hidden-sm" ng-if="item.wantedByUser === false">
                                    <div class="btn-holder">
                                        <button name="want" value="want" class="hidden-sm">Want</button>
                                    </div>
                                </form>
                                <form action="{{item.dounwant}}" method="post" class="hidden-sm" ng-if="item.wantedByUser === true">
                                    <div class="btn-holder">
                                        <button name="unwant" value="unwant" class="hidden-sm">Unwant</button>
                                    </div>
                                </form>
                            </div>
                            <p class="btn-details">
                                <i class="fa fa-list"></i><a href="/item/{{item._id}}" class="hidden-sm">More details</a></p>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix" ng-if="($index+1)%4 == 0 || $last"></div>
            <div ng-repeat-end=""></div>
        <!-- </div ng-if="($index+1)%4 == 0 || $last"> -->
    </div>
</div>