<div class="col-xs-12 col-sm-6 col-md-3" ng-repeat-start="item in itemsCtrl.items">
    <div class="col-item">
        <div class="post-img-content">
            <img ng-src="{{item.photo}}" class="img-responsive" />
            <span class="round-tag">
                <center>
                    {{item.wantedBy.length === null ? 0 : item.wantedBy.length}}
                </center>
            </span>
        </div>
        <div class="info">
            <div class="row">
                <div class="priceleft col-md-6">
                    <h5> {{item.title}} </h5>
                    
                </div>
                <div class="priceright col-md-6">
                    <a class="price-text-color" href="/user/{{item.giver_id._id}}">{{item.giver_id.username}}</a>
                </div>
            </div>
            <div class="row">
                <div class="rating hidden-sm col-md-12">
                <h5 class="price-text-color">{{item.description}}</h5>
                </div>
            </div>
            <div class="separator clear-left">
                <p class="btn-details" ng-if="item.ownedByUser">
                    <i class="fa fa-list"></i><a href="/item/{{item._id}}/edit/" class="hidden-sm">Edit Item</a>
                </p>
                <div class="btn-add" ng-if="!item.ownedByUser">
                    <p class="btn-details">
                        <div class="btn-holder" ng-if="item.wantedByUser === false">
                            <button ng-click="item.wantedByUser = !item.wantedByUser" name="want" value="want" class="want hidden-sm" data-itemid="{{item._id}}">Want</button>
                        </div>
                        <div class="btn-holder" ng-if="item.wantedByUser === true">
                            <button ng-click="item.wantedByUser = !item.wantedByUser" name="unwant" value="unwant" class="unwant hidden-sm" data-itemid="{{item._id}}">Unwant</button>
                        </div>
                    </p>
                </div>
                <p class="btn-details">
                    <i class="fa fa-list"></i><a href="/item/{{item._id}}" class="hidden-sm">Details</a></p>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
<div class="clearfix" ng-if="($index+1)%4 == 0 || $last"></div>
<div ng-repeat-end=""></div>